<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>お気に入り馬一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

    <h1>お気に入り馬一覧</h1>

    <div class="race-card">

        <table>
            <thead>
            <tr>
                <th>馬名</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="horse : ${favorites}">

                <td th:text="${horse.horseName}"></td>

                <td>

                    <form
                            th:action="@{/favorite/delete}"
                            method="post">

                        <input
                                type="hidden"
                                name="id"
                                th:value="${horse.id}" />

                        <button
                                class="delete-btn"
                                type="submit">

                            削除

                        </button>

                    </form>

                </td>

            </tr>
            </tbody>

        </table>

    </div>

    <div class="nav">
        <a href="/races">レース一覧へ戻る</a>
    </div>

</div>
</body>
</html>